/* body {
  max-width: 1200px;
} */
.blogbook {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 760px;
}
.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  /* min-height: 100vh;  */
}
.main-book {
  /* box-sizing: border-box; */
  max-width: 1200px;
}

/* .main-book img { */
/* width: 100%; */
/* width: 90%; */
/* width: 100vw; */
/* object-fit: cover; */
/* object-fit: contain; */
/* } */
/* main {
  text-align: center;
}
form {
  text-align: left;
} */
main h2 {
  word-break: break-all;
}
/* form,
form hr {
  width: 600px;
} */
form h1,
form h2,
form hr,
form label,
form button,
form input,
form textarea,
form p {
  margin: 5px;
}
form span,
form li {
  word-break: break-all;
}
form input[type="text"],
form textarea {
  max-width: 590px;
}
.form-alert {
  word-break: normal;
}
form input[type="submit"] {
  color: white;
  background-color: black;
}
/* form #input-field-group {
  border: 2px solid;
} */
.label-in-para {
  margin: 0;
}
