.input-parameters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-form {
  width: 70%;
  max-width: 600px;
}

form h2,
form p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-field-group {
  border: 1px solid;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.or {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.or span {
  margin-left: 20px;
}

form input,
form textarea {
  box-sizing: border-box;
}

.URI {
  word-break: break-all;
}

#search,
#full-blog-feed-url {
  width: 100%;
}

#blog-protocol-hostname {
  width: 400px;
}

#num-posts {
  width: 45px;
  margin-top: 5px;
}

#days {
  width: 50px;
}

.float-right {
  float: right;
}

.clear-right {
  clear: right;
}

.form-alert {
  word-break: normal;
}

form input[type="submit"] {
  margin-top: 5px;
}

form input[type="submit"],
.save-btn {
  color: whitesmoke;
  background-color: black;
  border-radius: 5px;
}

form input[type="submit"]:hover,
.save-btn:hover {
  color: black;
  background-color: whitesmoke;
}

form input[type="submit"]:active,
.save-btn:active {
  transform: scale(0.95);
}

.blogbook {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.main-book {
  max-width: 1200px;
}

.main-book img {
  max-width: 90%;
}

/* At window/screen width lesser than around 900px the form width would start reducing as its percentage width (70%) of
window combined with form max-width (600px) limits wound start getting crossed. To avoid form width reducing in this
case, we use media query to increase form width to 100%. Eventually when window width gets lesser than 616px (8px
margin on left and right of body element of which form is a descendant), the form width starts reducing in tandem
with window width. */
@media screen and (max-width: 900px) {
  .main-form {
    width: 100%;
  }
}

/* blog-protocol-hostname (blog address field id) width is set to 400 px. It has to be set to 100% of parent width after
screen width reduces to around 428px (8px margin left and right for body + div border 0.8px left and right and padding
5px left and right: 16+1.6+10=27.6). Otherwise the field outline extends beyond its container div. */
@media screen and (max-width: 428px) {
  #blog-protocol-hostname {
    width: 100%;
  }
}
