.input-parameters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-form {
  width: 70%;
  max-width: 590px;
}

form h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

form input,
form textarea {
  margin-bottom: 5px;
}

.URI {
  word-break: break-all;
}

form input[type="text"],
form textarea {
  width: 100%;
}

.form-alert {
  word-break: normal;
}

form input[type="submit"],
.save-btn {
  color: whitesmoke;
  background-color: black;
  border-radius: 5px;
}

form input[type="submit"]:hover,
.save-btn:hover {
  color: black;
  background-color: whitesmoke;
}

form input[type="submit"]:active,
.save-btn:active {
  transform: scale(0.95);
}

.blogbook {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.main-book {
  max-width: 1200px;
}

.main-book img {
  max-width: 90%;
}

/* Below main-form width specifications are little arbitrary. But as they seem to work well, I am currently
not analyzing it and coming up with more standard breakpoints and some calculations on what the width 
percentage should be for each break point. */
@media screen and (max-width: 600px) {
  .main-form {
    width: 80%;
  }
}

@media screen and (max-width: 490px) {
  .main-form {
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .main-form {
    width: 95%;
  }
}
